body{
	background: white;
}

h1 {
	color: #111;
	font-family: 'Londrina Solid', cursive;
	font-size: 275px; 
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	text-align: center;
}


h2 {
	color: #111;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 32px;
	margin: 0 0 60px;
	text-align: center;
}

#home-links {
	width: 250px;
	margin: auto;
	border-top: 1px dotted;
	padding-top: 8px;
}

#home-links a {
	margin: 0px 25px;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
}