body {
	background: #E9E8DA;
}

.container1{
	width: 55%;
	float: right;
}

.container2{
	width: 78%;
}

.error-message{
  font-size: 12px;
  color: red;
}

#home-links {
	width: 250px;
	border-top: 1px dotted;
	padding-top: 8px;
}

#home-links a {
	margin: 0px 25px;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
}

input{
	margin-bottom: 10px;
}