@import url('https://fonts.googleapis.com/css?family=Arvo');

body {
	background: white;
}

header {
	margin-bottom: 30px;
}

h1 {
	font-family: 'Londrina Solid', cursive;
}

.container-results {
	width: 60%;
	margin: auto;
	border-radius: 12px;
	padding: 50px;
	background: #D8D8D8;
}

.choice_text {
	font-size: 20px;
	margin-bottom: 10px;
	font-family: 'Arvo', serif;
}

.votes {
	float: right;
}

.one_result{
	margin-bottom: 20px;
}

#total_votes{
	font-weight: bold;
	text-align: right;
	margin-top: 20px;
	font-family: 'Arvo', serif;
	font-size: 30px;
	color: #006D5B;
}