body {
	background: #76b852;
	background: -webkit-linear-gradient(right, #76b852, #8DC26F);
	background: -moz-linear-gradient(right, #76b852, #8DC26F);
	background: -o-linear-gradient(right, #76b852, #8DC26F);
	background: linear-gradient(to left, #76b852, #8DC26F);
}

.logo {
	font-family: 'Londrina Solid', cursive;
	font-size: 40px;
}

header {
	margin-bottom: 50px;
}