{% extends 'polls/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/login-signup.css' %}">
	<div class="login-page">
		<div class="form">
			{% if form.errors %}<span class="error-message">Invalid credentials.</span>{% endif %}

			<form method="post">
			  	{% csrf_token %}
			  	{% for field in form %}
			        <div class="login-form">
			        	{{ field }}
			        </div>
		        {% endfor %}
			  	<button type="submit">Login</button>
			  	<p class="message">Not registered? <a href="{% url 'accounts:signup'%}">Create an account</a></p>
			</form>
		</div>
	</div>

	<script type="text/javascript" >
	    $(document).ready(function(){
	        $("#id_username").attr('placeholder', '{{form.username.label}}');
	        $("#id_password").attr('placeholder', '{{form.password.label}}');
	    });
	</script>
{% endblock %}