{% extends 'polls/base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/password-reset-forms.css' %}">
    
	<div class="container1">
		<h1>Set a new password!</h1>
		<div class="container2">
			<form method="POST">
				{% csrf_token %}
					{% for field in form.visible_fields %}
				    {% for err in field.errors %}
				    	<span class="error-message">{{ err }}</span>
				    {% endfor %}
				{% endfor %}
				<div class="form-group">	
					<input type="password" class="form-control" id="id_new_password1" name="{{form.new_password1.name}}" placeholder="New Password" required>
					<input type="password" class="form-control" id="id_new_password2" name="{{form.new_password2.name}}" placeholder="Confirm Password" required>
				</div>
				<button type="submit" class="btn btn-primary float-right">Change my password</button>
			</form>
		</div>
	</div>
{% endblock %}