{% extends 'polls/base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
	<div class="container1">
		{% load static %}
    	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/password-reset-forms.css' %}">
		<h1>Forgot your password?</h1>
		<p>Enter your email address below, and we'll email instructions for setting a new one.</p>
		{% for field in form.visible_fields %}
		    {% for err in field.errors %}
		    	<span class="error-message">{{ err }}</span>
		    {% endfor %}
		{% endfor %}

		<div class="container2">
			<form method="POST">
				{% csrf_token %}
				<div class="form-group">
					<input type="email" class="form-control" id="form.email.id" name="{{form.email.name}}" placeholder="name@domain.com">
				</div>
				<button type="submit" class="btn btn-primary float-right">Send me instructions!</button>
			</form>
		</div>
	</div>
{% endblock %}

