{% extends 'polls/base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/password-reset-forms.css' %}">
	<div class="container1">
		<h1>Password reset complete</h1>
		<p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
	</div>
{% endblock %}