{% extends 'polls/base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/password-reset-forms.css' %}">
	
	<div class="container1">
		<h1>Check your inbox.</h1>
		<p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
		<div id="home-links">
			<a href="/accounts/login">Login</a> <i class="fa fa-bolt" aria-hidden="true"></i>
			<a href="{% url 'accounts:signup'%}">Sign up</a>
		</div>
	</div>
{% endblock %}