{% extends 'polls/base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/home.css' %}">
    <h1 id="big-text" class="animated tada">clash.</h1>
    <h2>"Let the ideas clash but not the hearts."</h2>
    <div id="home-links">
    	<a href="/accounts/login">Login</a> <i class="fa fa-bolt" aria-hidden="true"></i>
    	<a href="{% url 'accounts:signup'%}">Sign up</a>
    </div>
    <script type="text/javascript" >
	    $(document).ready(function(){
			$("#big-text").hover(function(){
		       	$(this).addClass('animated tada');
		        }, function(){
		        $(this).removeClass('animated tada');
		    });
	    });
	</script>
{% endblock %}