{% extends 'polls/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/login-signup.css' %}">

	<div class="login-page">
		<div class="form">
			{% for field in form.visible_fields %}
			    {% for err in field.errors %}
			    	<span class="error-message">{{ err }}</span>
			    {% endfor %}
			{% endfor %}
			
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
				    <div class="register-form">
				        {{ field }}
				    </div>
				{% endfor %}
				<button type="submit">Sign up</button>
				<p class="message">Already registered? <a href="{% url 'login'%}">Sign In</a></p>
			</form>
		</div>
	</div>

	<script type="text/javascript" >
	    $(document).ready(function(){
	        $("#id_username").attr('placeholder', '{{form.username.label}}');
	        $("#id_email").attr('placeholder', '{{form.email.label}}');
	        $("#id_password1").attr('placeholder', '{{form.password1.label}}');
	        $("#id_password2").attr('placeholder', 'Confirm password');
	    });
	</script>
{% endblock %}