<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Londrina+Solid" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!-- JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Bootstrap core CSS -->
	<link href="{% static 'polls/css/bootstrap.min.css' %}" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="{% static 'polls/css/mdb.min.css' %}" rel="stylesheet">
    <!-- Sweetalert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<!-- Your custom styles (optional) -->
	<link href="{%static 'polls/css/style.css' %}" rel="stylesheet">
	<title>{% block title %}Django Tutorials{% endblock %}</title>
</head>
<body>
	<!--Main Navigation-->
	<header>
	    <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark default-color scrolling-navbar">
        	{% if user.is_authenticated %}
            	<a class="navbar-brand" href="{% url 'polls:index' %}" title="Polls"><strong class="logo">clash.</strong></a>
            {% else %}
            	<a class="navbar-brand" href="/"><strong class="logo" title="Home Page">clash.</strong></a>
            {% endif %}
            <!-- Dropdown menu -->
            
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Account</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    	<a class="dropdown-item" href="{% url 'accounts:password_reset' %}">Reset Password</a>
                    	{% if user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'polls:index' %}">Polls Home</a>
                    		<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                        	<a class="dropdown-item" href="{% url 'accounts:signup' %}">Sign Up</a>
                            <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
            <!-- Dropdown menu -->

        </nav>
        <!-- Navbar -->

	</header>
	<!--Main Navigation-->

	<main>
	{% block content %}
	{% endblock %}
	</main>
	<!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'polls/js/jquery-3.3.1.min.js' %}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'polls/js/popper.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'polls/js/bootstrap.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'polls/js/mdb.min.js' %}"></script>
</body>
</html>