{% extends 'polls/base.html' %}

{% block title %}Polls App{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

    {% if user.is_authenticated %}
        {% if latest_question_list %}
        	<!-- <ul>
        		{% for question in latest_question_list %}
        			<li><a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a></li>
        		{% endfor %}
        	</ul> -->

            <!-- Container wrapper -->
            <div class="container-wrapper">
                <!-- Card deck -->
                <div class="card-columns">
                    <!-- Card -->
                    {% for question in latest_question_list %}
                        <div class="card mb-4">
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title font-weight-bold"><a href="{% url 'polls:results' question.id %}" class="teal-text" title="View Results">{{question.question_text}}</h4>
                            <hr class="hr-dark">
                            <!--Text-->
                            <p class="card-text">{{question.pub_date}}</p>

                            <!-- Choices -->
                            <!-- <div class="funkyradio">
                                <div class="funkyradio-primary">
                                    <input type="radio" name="radio" id="radio1" checked/>
                                    <label for="radio1">Do</label>
                                </div>
                                <div class="funkyradio-primary">
                                    <input type="radio" name="radio" id="radio2" checked/>
                                    <label for="radio2">Die</label>
                                </div>
                            </div> -->
                            <!-- Choices -->
                            <form action="{% url 'polls:vote' question.id %}" method="post">
                                {% csrf_token %}
                                <div class="funkyradio">
                                    {% for choice in question.choice_set.all %}
                                        <div class="funkyradio-primary">
                                            <input type="radio" name="choice" id="choice{{question.id}}{{ forloop.counter }}" value="{{ choice.id }}"/>
                                            <label for="choice{{question.id}}{{ forloop.counter }}" title="{{ choice.choice_text }}">{{ choice.choice_text }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                                <button type="button submit" class="btn btn-default btn-lg btn-block" id="submitButton">VOTE</button>
                            </form>
                        </div>
                        </div>
                    {% endfor %}
                    <!-- Card -->
                </div>
                <!-- Card deck -->
            </div>
            <!-- Container wrapper -->

            <script type="text/javascript">
                // When your page is ready, wire up these events
                $(function () {
                    // When your submit button is clicked
                    $("form").submit(function (e) {
                        // If it is not checked, prevent the default behavior (your submit)
                        if (!$('input[name="choice"]').is(':checked')) {
                            swal({text: "Please ensure a choice is selected!", icon:"error"});
                            e.preventDefault();
                        }
                    });
                });
            </script>
        {% else %}
        	<p>No polls are available.</p>
            <style>
                body {
                    background: #E0E0E0;
                }
                p {
                    text-align: center;
                    font-family: 'Open Sans', sans-serif;
                    color: #A0A0A0;
                }
            </style>
        {% endif %}
        <!-- <p><a href="{% url 'logout' %}">logout</a></p> -->
    {% else %}
        <p>You are not logged in.</p>
        <div id="home-links">
            <a href="/accounts/login">Login</a> <i class="fa fa-bolt" aria-hidden="true"></i>
            <a href="{% url 'accounts:signup'%}">Sign up</a>
        </div>
        <style>
            body {
                background: #E0E0E0;
            }
            p {
                text-align: center;
                font-family: 'Open Sans', sans-serif;
                color: #A0A0A0;
            }
            #home-links {
                width: 250px;
                margin: auto;
                border-top: 1px dotted;
                padding-top: 8px;
            }

            #home-links a {
                margin: 0px 25px;
                font-family: 'Pacifico', cursive;
                font-size: 20px;
            }
        </style>
    {% endif %}
{% endblock %}