{% extends 'polls/base.html' %}

{% block title %}{{question.question_text}}{% endblock %}

{% block content %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/results.css' %}">

	{% load polls_extras %}
	<div class="container-results z-depth-4">
		<h1>{{question.question_text}}</h1>
		<hr class="hr-dark">
		<!-- <ul>
			{% for choice in question.choice_set.all %}
				<li>{{choice.choice_text}} -- {{choice.votes}} vote{{choice.votes|pluralize}}</li>
			{% endfor %}
		</ul> -->
		<div class="span4">
			{% for choice in question.choice_set.all %}
				<div class="one_result">
					<strong class="choice_text" style="color: #2E8B57;">{{choice.choice_text}}</strong><strong class="votes">({{choice.votes}} vote{{choice.votes|pluralize}})</strong>
					<div class="progress-bar" role="progressbar" aria-valuenow="{{choice.votes}}"
					aria-valuemin="0" aria-valuemax="{{totalvotes}}" style="width:{{ totalvotes|computePercent:choice.votes}}%; background: #006D5B;">
						{{ totalvotes|computePercent:choice.votes}}%
					</div>
				</div>
			{% endfor %}
			<p id="total_votes">= {{totalvotes}}</p>
		</div>
		<!-- <a href="{% url 'polls:index' %}">Vote again?</a> -->
		<button onclick="location.href = '{% url 'polls:index' %}';" type="submit" class="btn-outline-primary waves-effect" title="Polls Home">Vote Again</button>

	</div>
{% endblock %}